.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;

  background-color: #111827; /* Tailwind gray-900 */
  color: white;
  padding: 2rem;
}
